{
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",             
    "^@mui/(.*)$",           
    "^react-icons/(.*)$",    
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",           
    "^[./]"                  
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
